.container{
  width: 100%;
  min-height: 450px;
  background-color: #191919;
  color: #fff;
  text-align: center;
}

.container *{
   margin: 0;
   box-sizing: border-box;
   padding: 0;
}

.container h2{
  font-weight: 500;
  font-size: 1.3rem;
  padding-block: .8rem;
}

