.header {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid red;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  z-index: 2;
}
.header span{
  font-size: 2rem ;
  color: red;
  font-weight: 500;
}

.navDesktop{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.header a{
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}

.menuHamburguer{
  display: none;
}

.menuHamburguer{
  cursor: pointer;
  width: 35px;
}

.menuHamburguer span{
  display: block;
  margin: 4px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: red;
}

@media (max-width: 800px){
  .header span{
    font-size: 1.4rem;
  }

  .header a{
    font-size: 16px;
  }

  .navDesktop{
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 480px){

  .header span{
    font-size: 1.4rem;
  }

  .header .navDesktop{
    display: none;
  }

  .menuHamburguer{
    display: block;
  }

}

